<div class="wrapper">
    <div class="operations">
        <div class="message-delivery">
            <form (ngSubmit)="sendMessage()" (keydown)="sendMessage($event)">
                <div class="form-group">
                    <label for="topic">Tema</label>
                    <input id="topic" name="topic" class="form-control" placeholder="Indica un tema"
                        [(ngModel)]="topic" />
                </div>
                <div class="form-group">
                    <label for="message">Mensaje</label>
                    <textarea id="message" name="message" class="form-control" placeholder="Escribe tu mensaje aquí"
                        [(ngModel)]="message">
                    </textarea>
                </div>
                <button type="submit" class="btn btn-success">Enviar</button>
            </form>
            <hr>
        </div>
        <div class="message-subscription">
            <form (ngSubmit)="addSubscription()" (keydown)="addSubscription($event)">
                <div class="form-group">
                    <label for="subscription">Subscripción</label>
                    <div class="horizontal">
                        <input id="topic" name="topic" class="form-control"
                            placeholder="Indica un tema al cual subscribirte" [(ngModel)]="subscription" />
                        <button type="submit" class="btn btn-success right-btn btn-sm"><i
                                class="material-icons">add</i></button>
                    </div>
                </div>
            </form>
            <div class="subscriptions">
                <div class="subscription" *ngFor="let subscription of subscriptions">
                    <p>{{subscription.name}}</p>
                    <button class="btn btn-warning btn-sm"><i class="material-icons"
                            (click)="removeSubscription(subscription)">delete</i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="messages-visor">
        <div id="messages" name="messages" class="form-control" readonly="true">
            <p *ngFor="let message of messages">{{message}}</p>
        </div>
    </div>
</div>