button.right-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

div#messages {
    height: 100%;
    width: 100%;
}

div.horizontal {
    display: flex;
}

div.message-delivery {
    width: 100%;
    height: 50%;
    padding: 10px;
}

div.message-subscription {
    width: 100%;
    height: 50%;
    padding: 10px;
}

div.messages-visor {
    width: 80%;
    height: 100%;
    padding: 10px;
}

div.operations {
    width: 30%;
    height: 100%;
}

div.subscription {
    display: flex;
    margin: 5px 0;
    padding: 5px;
}

div.subscription:hover {
    background: #ddd;
}

div.subscriptions {
    margin-top: 10px;
    overflow-y: scroll;
    max-height: 200px;
}

div.wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
}

i.material-icons {
    transform: translateY(2px);
}

input.left-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

hr {
    border: 1px solid #aaa;
}

hr.vertical {
    height: 100%;
    border: none;
    border-left: 1px solid #aaa;
}

p {
    width: 100%;
    margin: 7px 0;
    vertical-align: middle;
}

textarea#message {
    height: 100px;
}